{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br>
    <h1>Elija la traduccion</h1>

    <form method="POST" id="location_form" action="" enctype="multipart/form-data"> 
        {% csrf_token %}


        {{ form | crispy }}
        <input type="submit"  class="btn  btn-success" ></input>
    </form>

    <!-- Include the JavaScript file -->
    {% load static %}
    <script src="{% static 'javascript/IngresarTraducciones.js' %}"></script>

</div>
{% endblock %}