{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br>
    <h1>Seleccionar Imagen</h1>

    <form method="POST" id="location_form" action="{% url 'guardarImagen' %}" enctype="multipart/form-data"> 
        {% csrf_token %}

        {{ form | crispy }}

        <h5>Seleccione un idioma para traducir</h5>
        <select name="idiomas" class="btn btn-info dropdown-toggle dropdownMenuButton">
            {% for id, label in idiomas %}
                <option value="{{ id }}" class="dropdown-item">{{ label }}</option>
            {% endfor %}
        </select>

        <br><br>
        <input type="submit"  class="btn  btn-success" ></input>
    </form>

    <!-- Include the JavaScript file -->
    {% load static %}
    <script src="{% static 'javascript/IngresarTraducciones.js' %}"></script>

</div>
{% endblock %}