{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

    <p></p>
    <h1>Tradicciones Realizadas</h1>
    <p></p>
    <p></p>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre de la Traduccion</th>
                <th scope="col">Texto Traducido</th>
                <th scope="col">Idioma Traducido</th>
                <th scope="col">Imagen Traducciòn</th>
            </tr>
        </thead>
        <tbody>
            {% for traduccion in traducciones %}
                <tr>
                    <th scope="col">{{traduccion.idTraduccionObtenida}}</th>
                    <th scope="col">{{traduccion.nombreTraduccionObtenida}}</th>
                    <th scope="col">{{traduccion.textoTraducido}}</th>
                    <th scope="col">{{traduccion.idiomaTraduccion}}</th>

                    {% if traduccion.idTraduccion.idImagen.imagenTraduccion %}
                        <td><img src="{{ traduccion.idTraduccion.idImagen.imagenTraduccion.url }}" alt="My Image"></td>
                    {% endif%}
                </tr>
            {% endfor %}
          
        </tbody>
    </table>
</div>
{% endblock %}